.gitignore
.idea
azurefx_imagesearch/.vscode
azurefx_imagesearch/.gitignore
new_chic/images
imageSearch/uploads
imageSearch/image_vectorizer.py
imageSearch/imgvec
chat_app/__pycache__/
grpc_experimental/__pycache__/